body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* top-nav */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: right;
}

nav li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Footer-left */
footer-left {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

footer-left li {
  float: left;
}

footer-left li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Footer-right */
footer-right {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

footer-right li {
  float: right;
}

footer-right li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

